
// JUMBOTRON 
.jumbotron{

    background-image: url(https://media.vanityfair.it/static/img/channel-news.png);
    background-repeat: no-repeat;
    background-position-x: 68%;
    padding-top: 3rem;





}